body {
    background-image:url("img.jpg");
    font-family: Arial, Sans-Serif; /* Тип шрифта */
     /* Цвет текста */
    font-size: 20px; /* Размер текста в пикселях */
    }
    table {
    margin: auto;
    border-collapse: collapse;
    line-height: 1.1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background: radial-gradient(farthest-corner at 80% 20%, #F0E68C, #FFFF00);
    color: #0C213B;
    }
    th {
    padding: 10px;
    border: 1px solid #fff;
    }
    td {
    font-size: 0.8em;
    padding: 5px 7px;
    border: 1px solid #fff;
    }
    .text {
    text-align: center;
    }
    .like {
    float: left;
    width: 50%;
    }
    .nelike {
    float: right;
    width: 50%;
    }
    .forms {
    width: 100%;
    margin: 15% 42% 5% 42%;
    }
    